input {
  margin: 5px auto;
}
.eventInfoAndMap h2,
.eventInfoAndMap h3,
.eventInfoAndMap h4,
.eventInfoAndMap p {
  margin: 0;
  line-height: 1.2em;
}
.eventInfoAndMap p {
  min-height: 6em;
}
.eventInfoAndMap h2 {
  font-size: 1.25em;
  min-height: 3.6em;
}
#googleMapSection {
  margin: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
#eventMapLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 260px;
}
.eventInfoAndMap {
  flex-basis: 45%;
}
.mapouter {
  margin: 10px auto;
  text-align: center;
}
.eventInfoAndMap {
  margin: 20px 10px;
  min-height: 375px;
  width: 460px;
}
.mapouter {
  position: relative;
  height: 250px;
  width: 250px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 250px;
  width: 250px;
}
/* For mobile, or any time the maps drop down to one column, it doesn't need to space evenly */
@media (max-width: 600px) {
  .eventInfoAndMap p {
    min-height: auto;
  }
  .eventInfoAndMap h2 {
    font-size: 1.25em;
    min-height: auto;
  }
}
